header {
  position: sticky;
  top: 0;
  height: 11rem;
  display: flex;
  align-items: center;
  background-color: $white;
  z-index: 2021;

  .container {
    .border-line {
      @include flex(row, center, space-between);
      border-bottom: 1px solid $primary-color-super-light;
      padding: 3.8rem 0rem;

      nav {
        display: flex;
        align-items: center;
        gap: 5.2rem;

        ul {
          display: flex;
          align-items: center;
          gap: 2.4rem;

          li {
            a {
              font-weight: bold;
              font-size: 1.2rem;
              line-height: 1.5rem;
              text-align: center;
              letter-spacing: 0.06em;
              color: $gray-color-1;
            }
          }
        }

        .sign {
          display: flex;
          align-items: center;
          gap: 1.6rem;

          button {
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 0.06em;
            color: $primary-color-light;
            background-color: transparent;
          }
        }
      }
    }
  }

  @include responsive(768px) {
    .container {
      .border-line {
        nav {
          ul {
            display: none;
          }
        }
      }
    }
  }

  @include responsive(480px) {
    height: 7rem;
    .container {
      .border-line {
        padding: 2.3rem 0;
        a {
          max-width: 9.8rem;
        }
      }
    }
  }
}
