.hero-section {
  padding-top: 8.6rem;

  .container {
    @include flex(row, flex-end, space-between);

    .texts {
      width: 100%;
      max-width: 45rem;

      .tag {
        display: inline-block;
        background-color: $primary-color-super-light;
        border-radius: 20px;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 2.8rem;
        color: $primary-color;
        padding: 0 2.4rem;
        margin-bottom: 1.9rem;
      }

      h1 {
        margin-bottom: 3.2rem;
      }

      .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 9.9rem;
      }

      .scroll {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        span {
          font-weight: bold;
          font-size: 1.2rem;
          line-height: 1.5rem;
          letter-spacing: 0.06em;
          color: $primary-color-light;
        }
      }
    }

    .images {
      width: 100%;
      max-width: 78rem;
      height: 50rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: -13rem;

      .img {
        &.one,
        &.three {
          position: absolute;
        }
        &.one {
          left: 0;
          bottom: 0;
        }
        &.three {
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  @include responsive(1480px) {
    .container {
      .images {
        max-width: 62.4rem;
        height: 40rem;
        margin-left: 5rem;
        margin-right: -1.5rem;
        .img {
          &.one {
            height: 20rem;
          }
          &.two {
            height: 40rem;
          }
          &.three {
            height: 28rem;
          }
        }
      }
    }
  }

  @include responsive(991px) {
    padding-top: 6rem;

    .container {
      flex-direction: column;
      align-items: center;
      .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
        margin-bottom: 4rem;

        .btns {
          max-width: 45rem;
          margin-bottom: 4rem;
        }
      }

      .images {
        margin: 0;
      }
    }
  }

  @include responsive(600px) {
    .container {
      .images {
        max-width: 46.8rem;
        height: 30rem;
        .img {
          &.one {
            height: 15rem;
          }
          &.two {
            height: 30rem;
          }
          &.three {
            height: 21rem;
          }
        }
      }
    }
  }

  @include responsive(480px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .container {
      .texts {
        h1 {
          font-size: 5.6rem;
        }

        .btns {
          flex-direction: column;
          gap: 0.8rem;
          max-width: 100%;
        }
      }
    }
  }

  @include responsive(360px) {
    .container {
      .images {
        max-width: 31.2rem;
        height: 20rem;
        .img {
          &.one {
            height: 10rem;
          }
          &.two {
            height: 20rem;
          }
          &.three {
            height: 14rem;
          }
        }
      }
    }
  }
}

.services-section {
  padding-top: 14.5rem;
  padding-bottom: 9rem;

  .container {
    .services-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 9rem;
      text-align: center;

      p {
        font-size: 1.7rem;
        line-height: 110%;
        color: $text-color;
        margin-top: 1.6rem;
        max-width: 68.4rem;
      }
    }

    .services-list {
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5.6rem;

        li {
          display: flex;
          gap: 1.6rem;

          .circle {
            width: 3rem;
            height: 3rem;
            background-color: $primary-color-light;
            border-radius: 50%;
          }

          .service {
            max-width: 215px;

            p {
              font-size: 1.7rem;
              line-height: 150%;
              color: $text-color;
              margin-top: 1.2rem;
            }
          }
        }
      }
    }
  }

  @include responsive(1200px) {
    .container {
      .services-list {
        ul {
          gap: 5.6rem 2%;

          li {
            width: 23.5%;

            .circle {
              min-width: 3rem;
            }

            .service {
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  @include responsive(900px) {
    .container {
      .services-list {
        ul {
          padding: 0 2rem;
        }
      }
    }
  }

  @include responsive(768px) {
    .container {
      .services-list {
        ul {
          gap: 5.6rem 2%;

          li {
            width: 49%;

            .circle {
              min-width: 3rem;
            }
          }
        }
      }
    }
  }

  @include responsive(480px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .container {
      .services-title {
        margin-bottom: 6rem;
      }

      .services-list {
        ul {
          flex-direction: column;
          align-items: center;
          gap: 4rem 0;

          li {
            width: 90%;

            .circle {
              min-width: 3rem;
            }
          }
        }
      }
    }
  }
}

.plans-section {
  padding: 9rem 0;
  background-color: $gray-color-3;

  .container {
    .plans-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 8.7rem;
      text-align: center;

      p {
        font-size: 17px;
        line-height: 170%;
        color: $text-color;
        margin-top: 1.3rem;
        max-width: 68.4rem;
      }
    }

    .plans-cards {
      @include flex(row, center, space-between);

      .card {
        border: 1px solid $text-color-light;
        box-sizing: border-box;
        border-radius: 0.5rem;
        padding: 3.6rem 3.2rem;
        width: 34.5rem;

        .card-title {
          padding-bottom: 2.8rem;
          border-bottom: 1px solid $primary-color-super-light;
          margin-bottom: 3.2rem;

          p {
            font-weight: 600;
            font-size: 1.7rem;
            line-height: 110%;
            color: $primary-color;
            margin-top: 0.8rem;
          }

          .free {
            color: $text-color;
          }
        }

        .card-itens {
          margin-bottom: 3.2rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          ul {
            display: flex;
            flex-direction: column;
            gap: 19px;

            font-weight: 500;
            font-size: 1.5rem;
            line-height: 110%;
            color: $text-color;

            &.right {
              text-align: right;
            }
          }
        }

        a {
          width: 100%;

          &.outline {
            background-color: transparent;
          }
        }
      }
    }
  }

  @include responsive(900px) {
    .container {
      .plans-title {
        margin-bottom: 6rem;
      }
      .plans-cards {
        flex-direction: column;
        gap: 4rem;

        .card {
          width: 96%;
        }
      }
    }
  }

  @include responsive(480px) {
    padding: 4rem 0 4rem;

    .container {
      .plans-title {
        margin-bottom: 4rem;
      }

      .plans-cards {
        gap: 2rem;
      }
    }
  }
}

.download-section {
  padding: 9.2rem 0 14.5rem;

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      max-width: 90rem;
      margin-bottom: 3.2rem;
    }

    .btns {
      display: flex;
      gap: 2.4rem;
    }
  }

  @include responsive(900px) {
    padding: 9rem 0;
  }

  @include responsive(768px) {
    .container {
      h2 {
        width: 100%;
        max-width: 65rem;
      }
    }
  }

  @include responsive(480px) {
    padding: 4rem 0;

    .container {
      align-items: unset;
      .btns {
        flex-direction: column;
        gap: 0.8rem;
      }
    }
  }
}

.trends-section {
  padding-bottom: 14.5rem;

  .container {
    @include flex(row, flex-end, space-between);

    img {
      width: 100%;
      max-width: 52rem;
      height: 30rem;
    }

    .trends-text {
      width: 100%;
      max-width: 51.4rem;

      span {
        display: inline-block;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 0.06em;
        color: $primary-color;
        margin-bottom: 1.6rem;
      }

      h2 {
        width: 100%;
        max-width: 27rem;
      }

      p {
        font-size: 1.7rem;
        line-height: 150%;
        color: $text-color;
        margin-top: 1.6rem;
      }
    }
  }

  @include responsive(991px) {
    .container {
      flex-direction: column-reverse;
      align-items: center;

      img {
        max-width: 76.8rem;
        height: 100%;
      }

      .trends-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 76.8rem;
        margin-bottom: 4rem;

        h2 {
          max-width: 100%;
        }
      }
    }
  }

  @include responsive(480px) {
    padding: 4rem 0;
  }
}

.team-section {
  padding-bottom: 14.5rem;

  .container {
    @include flex(column, center, center);

    .team-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 9rem;
      text-align: center;

      p {
        font-size: 17px;
        line-height: 170%;
        color: $text-color;
        margin-top: 1.6rem;
        max-width: 68.4rem;
      }
    }

    .team-members {
      display: flex;
      gap: 3.2rem;

      .left {
        display: flex;
        gap: 3.2rem;

        .member {
          width: 100%;
          max-width: 28rem;

          h3 {
            margin-top: 3.2rem;
          }

          span {
            display: inline-block;
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 110%;
            color: $text-color-light;
            margin-top: 0.8rem;
          }

          p {
            font-size: 1.7rem;
            line-height: 135%;
            color: $text-color-light;
            width: 100%;
            max-width: 24rem;
            margin-top: 3.2rem;
          }
        }
      }

      .ceo {
        position: relative;

        img {
          width: 100%;
          max-width: 58.8rem;
        }

        .title {
          position: absolute;
          top: 3.2rem;
          left: 3.6rem;

          h3 {
            color: $gray-color-3;
          }

          span {
            display: inline-block;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 150%;
            color: $text-color-light;
            margin-top: 0.4rem;
          }
        }

        p {
          font-size: 1.7rem;
          line-height: 150%;
          color: $text-color-light;
          width: 100%;
          max-width: 35.3rem;

          position: absolute;
          bottom: 3.2rem;
          left: 3.6rem;
        }
      }
    }
  }

  @include responsive(991px) {
    .container {
      .team-title {
        margin-bottom: 4rem;
      }
      .team-members {
        flex-direction: column-reverse;

        .left {
          max-width: 76.8rem;

          .member {
            width: 36.8;
            max-width: 100%;

            img {
            }
          }
        }

        .ceo {
          img {
            width: 76.8rem;
            max-width: 100%;
          }
        }
      }
    }
  }

  @include responsive(600px) {
    .container {
      .team-members {
        gap: 2rem;
        .left {
          gap: 2rem;
        }
      }
    }
  }

  @include responsive(480px) {
    padding: 4rem 0;

    .container {
      .team-members {
        .left {
          flex-direction: column;

          .member {
            display: flex;
            flex-direction: column;

            h3 {
              margin-top: 2rem;
            }

            p {
              max-width: 100%;
              margin-top: 2rem;
            }
          }
        }

        .ceo {
          .title {
            top: 2rem;
            left: 2rem;
          }

          p {
            left: 2rem;
            bottom: 2rem;
          }
        }
      }
    }
  }

  @include responsive(320px) {
    .container {
      .team-members {
        .ceo {
          p {
            max-width: 29.5rem;
          }
        }
      }
    }
  }
}

.quote-section {
  padding-bottom: 14.5rem;
  text-align: center;

  h2 {
    display: inline-block;
    max-width: 86.7rem;
    width: 100%;
  }

  @include responsive(480px) {
    padding: 4rem 0;
  }
}

footer {
  padding: 9.2rem 0 3.2rem;
  background-color: $gray-color-1;

  .container {
    .top {
      @include flex(row, flex-start, space-between);
      padding-bottom: 9rem;
      border-bottom: 1px solid $text-color-light;

      .brand {
        max-width: 22.1rem;

        p {
          font-size: 1.7rem;
          line-height: 135%;
          color: $text-color-light;
          margin-top: 3.2rem;
        }
      }

      nav {
        @include flex(row, flex-start, space-between);
        width: 100%;
        max-width: 79rem;

        ul {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;

          li {
            a {
              font-size: 1.7rem;
              line-height: 135%;
              color: $text-color-light;
            }
          }
        }
      }
    }

    .copy {
      @include flex(row, center, space-between);
      padding-top: 3.2rem;

      p {
        font-size: 1.5rem;
        line-height: 135%;
        color: $text-color-light;
      }

      .social {
        display: flex;
        align-items: center;
        gap: 2.6rem;
      }
    }
  }

  @include responsive(991px) {
    .container {
      .top {
        nav {
          margin-left: 10rem;
        }
      }
    }
  }

  @include responsive(768px) {
    .container {
      .top {
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        .brand {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          max-width: 48rem;

          p {
            margin-top: 2rem;
          }
        }

        nav {
          margin: 0;
          padding: 0 4rem;
        }
      }
    }
  }

  @include responsive(480px) {
    padding: 4rem 0;
    .container {
      .top {
        padding-bottom: 4rem;
        nav {
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 4rem;

          ul {
            padding-top: 4rem;
            border-top: 0.5px solid $text-color;
          }
        }
      }

      .copy {
        padding-top: 4rem;

        p {
          font-size: 1.2rem;
        }
        .social {
          gap: 1rem;
        }
      }
    }
  }
}
