$primary-color: #6e38f7;
$primary-color-light: #9873f7;
$primary-color-super-light: #e7e3f9;

$gray-color-1: #363940;
$gray-color-2: #95a1bb;
$gray-color-3: #f6f7fa;

$text-color: #6c7890;
$text-color-light: #b5bdcf;

$white: #ffffff;
